/* =============================================================================
 *
 * Waybar styles
 *
 * Styles reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% { color: @theme_text_color; }
    to { color: orange; }
}

@keyframes blink-critical {
    70% { color: @theme_text_color; }
    to { color: red; }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background-color: shade(alpha(@theme_base_color, 0.8), 1.25);
    color: @theme_text_color;
    font-family: 'Noto Sans', 'Font Awesome 6 Free';
    font-size: 13px;
}

/* Each module */
#backlight,
#battery,
#bluetooth,
#clock,
#cpu,
#language, /* module: sway/language */
#memory,
#mode, /* module: sway/mode */
#network,
#pulseaudio,
#scratchpad,
#temperature,
#tray /* module: sway/tray */
{
    padding-left: 6px;
    padding-right: 6px;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: inherit;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 1s;
}

#bluetooth {
    /* No styles */
}

#clock {
    font-weight: bold;
}

#cpu {
    /* No styles */
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#language {
    /*font-weight: bold;*/
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: orange;
}

#memory.critical {
    animation-name: blink-critical;
    animation-duration: 2s;
    color: red;
}

#mode {
    background-color: #64727d;
    border-bottom: 2px solid white;
    /* To compensate for the top border and still have vertical centering */
    padding-top: 2px;
    /* font-style: italic; */
}

#network {
    /* No styles */
}

#network.disconnected {
    color: orange;
}

#network.linked {
    color: orange;
}

#pulseaudio {
    /* No styles */
}

#pulseaudio.muted {
    /* No styles */
}

#temperature {
    /* No styles */
}

#temperature.critical {
    color: red;
}

#tray {
    /* No styles */
}

#window {
    /* font-weight: bold; */
}

#workspaces {
    padding-right: 6px;
}

#workspaces button {
    border-bottom: 2px solid transparent;
    /* To compensate for the top border and still have vertical centering */
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: #888888;
}

#workspaces button:hover {
    background: #323232;
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.focused {
    border-color: #4c7899;
    color: @theme_text_color;
    background-color: #285577;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}
