[Desktop Entry]
Name=Postman
Comment=Build, test, and document your APIs faster
Exec=lxc-x11apps postman postman
Icon=postman
Type=Application
StartupNotify=true
Categories=Development;Utility;
StartupWMClass=postman
MimeType=x-scheme-handler/postman
